<html>
<head>
  <title>Library Database</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class='container'>
    <h1>{{ book.getTitle }}</h1>

    <p><a href='/books/{{ book.getId }}/edit'>Edit this Book</a></p>
    <p><a href='/'>Home</a></p>
  </div>
</body>
</html>
