<html>
    <head>
        <title>Library Database</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Search Results</h1>
            <ul>
                <li><a href="/books/{{ book.getId }}">{{ books.searchAuthor }}</a></li>
            </ul>
        </div>

    </body>
</html>
